<%= form_tag autocomplete_results_path, method: :get, class: "search-bar mx-auto", "data-turbo": true, "data-turbo-stream": true, "data-controller": "search", "data-search-current-class": "autocomplete-results__item--current", "data-search-target": "form" do %>

  <div class="input-group">
    <%= search_field_tag :keywords, params[:keywords], placeholder: "Search Products", class: "form-control search-bar__input px-5", autocomplete: "off", "data-action": "input->search#fetchResults keydown.down->search#nextResult keydown.up->search#previousResult keydown.enter->search#openResult:prevent:stop keydown.esc->search#reset:prevent:stop click@window->search#focusOut", "data-search-target": "keywords" %>

    <div class="input-group-append">
      <%= button_tag class: "btn btn-lg text-light search-bar__button py-4 product-search-btn", title: 'Search' do %>
        Search
      <% end %>
    </div>
  </div>

  <div id="autocomplete-results" class="autocomplete-results" data-search-target="results"></div>
<% end %>
