Welcome <%= @user.email %>!

<p style='margin: 20px 0px;'>Here is the OTP code for your account confirmation:</p>

<div style='display: flex; text-align: center;'>
  <span style='margin: auto; padding: 20px; background-color: lightgray; font-weight: bold; font-size: 20px;'><%= @user.otp_code %></span>
</div>

<p style='margin-top: 20px;'>Thanks</p>
