<style>
  .static-container p{
    font-size: 20px;
    padding-left: 20px;
  }
  .static-container li{
    font-size: 20px;
    padding-left: 20px;
  }
  .static-container h1{
    font-size: 50px;
  }
  .static-container h2{
    font-size: 40px;
  }
  .static-container h3{
    font-size: 30px;
  }
  @media only screen and (max-width: 767px) {
    .container {
      padding: 20px;
    }
  }
</style>
<div class='container static-container' style='margin-top: 15rem'>
  <h1 class='text-center'>Privacy Policy | Bookarley</h1>
  <p style='padding-left: 0px;'>First things first – your privacy is important to us. That might be the kind of thing all these notices say, but we mean it. You place your trust in us by using Bookarley.com services and we value that trust. That means we’re committed to protecting and safeguarding your personal data. We act in our customers’ best interest and we are transparent about the processing of your personal data.</p>
  <p style='padding-left: 0px;'>This document (‘this Privacy Statement’ or ‘our Privacy Statement’) describes how we use and process your personal data, provided in a readable and transparent manner. It also tells you what rights you can exercise in relation to your personal data and how you can contact us. Please also read our Cookie Statement, which tells you how Bookarley.com uses cookies and other similar tracking technologies.</p>
  <p style='padding-left: 0px;'>If you are one of our business partners, make sure to also check out our Privacy Statement for Business Partners to understand how personal data is further processed as part of the business relationship.</p>
  <p style='padding-left: 0px;'>We might amend this Privacy Statement from time to time, so we recommend you visit this page occasionally to make sure you know where you stand. If we make any updates to this Privacy Statement that will impact you significantly, we’ll notify you about the changes before any new activities begin.</p>
  <div style='padding-left: 15px;'>
    <h3>1. Information Collection:</h3>
    <p>Bookarley collects information provided by users during the registration process, including name, email address, phone number, business entity information, account number, and KYC details. Additionally, the app may request access to the user's contact list for payment/credit updates.</p>
    <h3>2. Purpose of Data Processing:</h3>
    <p>The collected information is used to provide services, improve the platform, and enhance user experience. This includes personalized recommendations, transactional emails/SMS, customer support, and marketing communications. Bookarley may also analyze user behavior for research and analytics.</p>
    <h3>3. Information Security:</h3>
    <p>Bookarley implements security measures to protect against unauthorized access, alteration, disclosure, or destruction of data. This includes encryption, physical security measures, and regular reviews of data practices.</p>
    <h3>4. Information Sharing:</h3>
    <p>Bookarley may share information with affiliates, group companies, and third-party service providers for internal business purposes, marketing, and customer research. Users' explicit consent is obtained before sharing sensitive information.</p>
    <h3>5. Accessing and Updating Information:</h3>
    <p>Users can request access to their information and corrections as needed. Bookarley makes efforts to ensure accurate and updated information, respecting users' privacy preferences.</p>
    <h3>6. Revocation of Consent:</h3>
    <p>Users have the right to revoke their consent for data processing at any time. Withdrawal of consent does not affect previous lawful data processing.</p>
    <h3>7. Responsible Organization:</h3>
    <p>Bookarley Services (Private) Limited is responsible for the collection, storage, and processing of personal information unless third-party service providers are involved, in which case, they assume responsibility.</p>
    <h3>8. Updates/Changes:</h3>
    <p>Bookarley reserves the right to change this Policy and the Terms of Service. Users will be notified of changes, and continued use implies acceptance. It is advised to review the Policy periodically.</p>
    <h3>9. Questions/Grievance Redressal:</h3>
    <p>Users with grievances can contact Bookarley's Grievance Officer at [+923134861948] or via email at [info@bookarley.com].</p>
    <h3>10. Disclaimer:</h3>
    <p>Users are advised that any personal information shared beyond requested details during registration is not the responsibility of Bookarley in case of a security breach or disclosure.</p>
  </div>
  <p class='mt-5'>For any questions regarding this Policy or the protection of personal information, please contact our data protection officer/grievance officer.</p>
  <h3 class='mt-5'>Thank you for choosing Bookarley for your event planning needs.</h3>
  <h4 class='mt-4 mb-5'>Bookarley Team</h4>
</div>