<style>
  .static-container p{
    font-size: 20px;
    padding-left: 20px;
  }
  .static-container li{
    font-size: 20px;
    padding-left: 20px;
  }
  .static-container h1{
    font-size: 50px;
  }
  .static-container h2{
    font-size: 40px;
  }
  .static-container h3{
    font-size: 30px;
  }
  @media only screen and (max-width: 767px) {
    .container {
      padding: 20px;
    }
  }
</style>
<div class='container static-container' style='margin-top: 15rem'>
  <h1 class='text-center'>Terms of Service for Bookarley </h1>
  <p style='padding-left: 0px;'>Welcome to Bookarley, your go-to app for seamless wedding planning. Before you start using our services, please read these Terms of Service carefully. By accessing or using the Bookarley app, you agree to be bound by these terms.</p>
  <div style='padding-left: 15px;'>
    <h3>1. Acceptance of Terms:</h3>
    <p>By using the Bookarley app, you agree to comply with and be bound by these Terms of Service. If you do not agree with these terms, please do not use our services.</p>
    <h3>2. Use of Services: </h3>
    <p>The Bookarley app is designed to provide wedding planning services, including venue booking, vendor selection, e-invitations, and party suppliers. You agree to use the services for their intended purposes and not for any unlawful or prohibited activities.</p>
    <h3>3. Account Registration:</h3>
    <p>To access certain features of the app, you may be required to create an account. You are responsible for maintaining the confidentiality of your account information and for all activities that occur under your account.</p>
    <h3>4. Privacy:</h3>
    <p>Your privacy is important to us. Our Privacy Policy outlines how we collect, use, and protect your personal information. By using the Bookarley app, you consent to the practices described in the Privacy Policy.</p>
    <h3>5. Booking and Payments: </h3>
    <p>When using our booking services, you agree to provide accurate and complete information. Payments for services are subject to the terms and conditions set by the venues, vendors, or suppliers. Bookarley is not responsible for any issues related to payments or refunds.</p>
    <h3>6. User Content: </h3>
    <p>By submitting content (reviews, feedback, photos) to the Bookarley app, you grant us a non-exclusive, royalty-free, worldwide, perpetual license to use, display, and reproduce such content.</p>
    <h3>7. Prohibited Activities: </h3>
    <p>You agree not to engage in any activities that may harm, disrupt, or interfere with the proper functioning of the Bookarley app. Prohibited activities include, but are not limited to, hacking, spamming, or distributing malware.</p>
    <h3>8. Termination of Services:</h3>
    <p>Bookarley reserves the right to suspend or terminate services to any user at our discretion. We may do so without notice if we believe you have violated these Terms of Service or for any other reason.</p>
    <h3>9. Changes to Terms: </h3>
    <p>Bookarley reserves the right to modify these Terms of Service at any time. Changes will be effective upon posting on the app. Continued use of the app after changes indicates your acceptance of the modified terms.</p>
    <h3>10. Disclaimer of Warranties: </h3>
    <p>The Bookarley app is provided "as is" without any warranty. We do not guarantee the accuracy, availability, or reliability of the services. Your use of the app is at your own risk.</p>
    <h3>11. Limitation of Liability: </h3>
    <p>Bookarley and its affiliates will not be liable for any direct, indirect, incidental, consequential, or punitive damages arising out of your use or inability to use the app.</p>
    <h3>12. Governing Law:</h3>
    <p>These Terms of Service are governed by and construed in accordance with the laws of Pakistan.</p>
  </div>
  <p class='mt-5'>If you have any questions or concerns about these Terms of Service, please contact us at [Contact Email/Phone].</p>
  <p>Thank you for choosing Bookarley. We're excited to be a part of your wedding planning journey!</p>
  <h4 class='mt-4 mb-5'>Bookarley Team</h4>
</div>