.card-margin {
  margin-top: 6%;
  margin-bottom: 6%;
  padding: 10px;
}

.button-border {
  border: none;
  background: none;
  margin-right: 10px;
}

.slider-label {
  font-size: 1.2em;
  margin-right: 6.5px;
  margin-top: 6.5px;
}

.download-btn {
  border-radius: 3px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
  padding: 8px 12px;
  background-color: #00ad25;
  color: #fff;
  transition-delay: .2s;
  transition: .3s;
  font-variant-caps: all-small-caps;
  cursor: pointer;
  margin-right: 10px;
}

.download-btn:hover {
  background-color: #009420;
  box-shadow: 4px 3px 11px 0 #005a13;
}

.save-btn {
  border-radius: 3px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 18px;
  padding: 2px 20px;
  background-color: white;
  color: black;
  transition-delay: .2s;
  transition: .3s;
  font-variant-caps: all-small-caps;
  cursor: pointer;
  margin-right: 10px;
  border: 1px solid lightgray;
}

.save-btn:hover {
  background-color: darkblue;
  color: white;
}

.input-fields-section {
  height: 240px;
  overflow-y: auto;
}

.replica-input {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border: none;
  border-bottom: 2px solid #3498db;
  background-color: #f5f5f5;
  margin-bottom: 100px;
  color: #333;
  transition: border-bottom-color 0.3s ease-in-out;
}

.replica-input:focus {
  border-bottom-color: #e74c3c;
  outline: none;
}

.invite-title h1 {
  font-size: 28px;
  text-align: center;
  line-height: 1.5em;
  padding-bottom: 45px;
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #111;
}


.invite-title h1:before {
  position: absolute;
  left: 0;
  top: 70px;
  width: 60%;
  left: 50%;
  margin-left: -30%;
  height: 1px;
  content: "";
  background-color: #777;
  z-index: 4;
}

.invite-title h1:after {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 50%;
  margin-left: -20px;
  top: 50px;
  content: '\00a7';
  font-size: 30px;
  line-height: 40px;
  color: #c50000;
  font-weight: 400;
  z-index: 5;
  display: block;
  background-color: white;
}