<style>
  .autocomplete-results__item{
    display: flex;
    align-items: center;
    font-size: 13px;
  }

  .autocomplete-results__item a{
    color: #5b5454;
    text-decoration: none;
  }

  .autocomplete-results__item a img{
    width: 40px;
    height: 30px;
  }

</style>

<ul class="autocomplete-results__list shadow" style="border:none; border-radius: 8px;">

  <% if results[:products].any? %>
    <% results[:products].each do |product| %>
      <li class="autocomplete-results__item "
          data-search-target="result">
          <%= link_to products_path(q: {name_cont: product.name}), itemprop: 'url' do %>
            <%= render(ImageComponent.new(image: product.gallery.images.first, size: :small, itemprop: "image", class:"product-img", alt:"product-listing")) %>
          <% end %>
        <%= link_to product.name, products_path(q: {name_cont: product.name}) %>
      </li>
    <% end %>

    <li class="autocomplete-results__item"
        data-search-target="result">
      <%= link_to "See all results", products_path(keywords: params[:keywords]), id:"keyword-result" %>
    </li>
  <% else %>
    <li class="autocomplete-results__item autocomplete-results__item--empty">No results</li>
  <% end %>
  
</ul>
