<div class="meta_desc pt-3 pb-2">
  <div>
    <h1 class='ml-0 mb-4 mt-2'>Details</h1>
    <div class='row'>
      <% @product.product_properties.each do |pp| %>
        <% if pp.property.field_type.eql?('Details') %>
          <div class='col-lg-6 col-12 my-3'>
            <div class='row'>
              <div class='col-1'>
                <% if pp&.property&.logo&.attachment.present? %>
                  <%= image_tag pp&.property&.logo&.attachment&.url, width: '20px', height: '20px' %>
                <% end %>
              </div>
              <div class='col-11'>
                <h2>
                  <%= pp.property.name %>
                </h2>
                <h5><%= pp.value %></h5>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="meta_desc_title pb-2 col-6">
    <i class="fa fa-file-alt col-1" style='color: #103577; font-size: 20px;'></i>
    <h2 class='ml-2 col-11 mt-2'>Description</h2>
  </div>
  <h5 class="desc_details"> <%= @product&.description %> </h5>
</div>
