<header class="product-header">
  <div class="row mb-5">
    <div class='col-3 border-bottom text-center active tab-buttons' data-id='details'>
      <h3 class='pb-2'>Details</h3>
    </div>
    <div class='col-3 border-bottom text-center tab-buttons' data-id='pricing'>
      <h3 class='pb-2'>Pricing</h3>
    </div>
    <div class='col-3 border-bottom text-center tab-buttons' data-id='locations'>
      <h3 class='pb-2'>Location</h3>
    </div>
  </div>
  <div id='header-section'>
    <h1 class="product-header__title" itemprop="name">
      <%= product.name %>
    </h1>

    <div class="d-flex flex-row my-4">
      <div class="text-warning mb-1 me-2">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fas fa-star"></i>
        <span class="ms-1">
          5
        </span>
      </div>
      <h3 style='margin-left: 10px;'>
        <i class='fas fa-map-marker-alt'></i>
        <%= @product.address %>
      </h3>
    </div>
    <hr />
  </div>
</header>
