<style>
  .paginate-text{
    font-size: 13px;
    color: #797b7b;
    letter-spacing: 0.4px;
  }
  .paginate-value{
    background: darkblue;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
    font-weight: bold;
  }
</style>

<div class="products-grid">
  <% product_list = products %>
  <% if product_list.size > 0 %>
    <% product_list.each do |product| %>
      <%= cache [I18n.locale, current_pricing_options, @taxon, product] do %>
        <%= render ProductCardComponent.new(
          product,
          price: product.price_for_options(current_pricing_options),
        ) %>
      <% end %>
    <% end %>
  <% else %>  
    <div class="d-flex justify-content-center mb-5" style="margin-left: 275px;">
      <%= image_tag("noproduct.png", alt: "Logo", width: 320, style:"margin-top: 70px; ") %>
    </div>
  <% end %>
</div>

<div class="mt-5" style="padding-left: 3rem;">
  <div class="paginate-text">Showing Total <span class="paginate-value"><%= products.size %></span> Items</div>
</div>
