<style>
  .paginate-text{
    font-size: 13px;
    color: #797b7b;
    letter-spacing: 0.4px;
  }
  .paginate-value{
    background: darkblue;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
    font-weight: bold;
  }

.empty-product{
  padding-left: 150px;
}
.empty-product img{
  width: 320px;
}
@media screen and (max-width: 599px){
  .empty-product{
  padding-left: 0px;
}
.empty-product img{
  width: 150px;
}
}

</style>

<div class="products-grid">
  <% product_list = products %>
  <% if product_list&.size.to_i > 0 %>
    <% product_list&.each do |product| %>
      <%= cache [I18n.locale, current_pricing_options, @taxon, product] do %>
        <%= render ProductCardComponent.new(
          product,
          price: product.price_for_options(current_pricing_options),
        ) %>
      <% end %>
    <% end %>
  <% else %>  
    <div class="d-flex justify-content-center mb-5 empty-product">
      <%= image_tag("noproduct.png", alt: "Logo", style:"margin-top: 70px; ") %>
    </div>
  <% end %>
</div>

<div class="mt-5 px-5">
  <div class="paginate-text">Showing Total <span class="paginate-value"><%= products&.size %></span> Items</div>
</div>
