<style>
  .product-thumbnails__all img{
    width: 100%;
  }
</style>

<ul class="product-thumbnails">
  <% product.gallery.images.each do |image| %>
    <% next if image.attachment.blank? %>

    <li class='product-thumbnails__all w-100 card p-2 mb-3'>
      <% image_extension = File.extname(image.filename.to_s).downcase %>
      <% if image_extension == '.jfif'%>
      <%else%>
        <%= render(ImageComponent.new(
            image: image.attachment,
            size: :product,
            class: "w-100",
            itemprop: "image"
          ))
        %>
      <%end%>
    </li>
  <% end %>
</ul>

