

<div class="products" style="padding: 4rem 0rem !important;">
  <aside class="bg-white side-margin side-border h-100 mr-3">
    <div class="pt-4 pb-2 px-3">
      <span class="h5">Filter</span>
    </div>
    <hr style="color: #a39c9c;">
    <%= render 'shared/navigation/taxonomies', taxon: @taxon %>
    <%= render 'shared/search/filters', taxon: @taxon %>
  </aside>
  <section>
      <%= render 'products', products: @products, taxon: @taxon %>
  </section> 
</div>