.flash {
  color: $color-copy-bright;
  font-size: $font-size-small;
  font-weight: $font-weight-bold;
  padding: 1.5rem;
  text-align: center;
  margin-bottom: -30px;

  &.alert {
    background: $color-background-alert;
  }

  &.error,
  &.registration_error {
    background: $color-background-error;
  }

  &.notice,
  &.success {
    background: $color-background-success;
  }
}
