<style>
  #footer {
    font-size: 14px;
    background: #182f5b;
  }

  #footer .footer-newsletter {
    padding: 50px 0;
    background: #f3f5fa;
    text-align: center;
    font-size: 15px;
    color: #444444;
  }

  #footer .footer-newsletter h4 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    color: #37517e;
  }

  #footer .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
    text-align: left;
  }
  .subscription_field::placeholder {
    color: grey;
    font-weight: 400;
}
  #footer .footer-newsletter form input[type=email] {
    border: 0;
    padding: 10px 8px;
    width: calc(100% - 100px);
    outline: none;
    font-size: 15px;
    font-weight: 500;
  }

  #footer .footer-newsletter form input[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #1e396b;
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }

  #footer .footer-newsletter form input[type=submit]:hover {
    background: #f29f37;
    color: #1e396b;
  }

  #footer .footer-top {
    padding: 60px 20px 30px 20px;
    background: #fff;
  }

  #footer .footer-top .footer-contact {
    margin-bottom: 30px;
  }

  #footer .footer-top .footer-contact h3 {
    font-size: 28px;
    margin: 0 0 10px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 600;
    color: #37517e;
  }

  #footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Jost", sans-serif;
    color: #5e5e5e;
  }

  #footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #37517e;
    position: relative;
    padding-bottom: 12px;
  }

  #footer .footer-top .footer-links {
    margin-bottom: 30px;
  }

  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  #footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #47b2e4;
    font-size: 18px;
    line-height: 1;
  }

  #footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }

  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }

  #footer .footer-top .footer-links ul a {
    color: #777777;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
    text-decoration: none;
  }

  #footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: #f29f37;
  }

  #footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #1e396b;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }

  #footer .footer-top .social-links a:hover {
    background: #f29f37;
    color: #fff;
    text-decoration: none;
  }

  #footer .footer-bottom {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
  }

  #footer .copyright {
    float: left;
  }

  #footer .credits {
    float: right;
    font-size: 13px;
  }

  #footer .credits a {
    transition: 0.3s;
  }

  @media (max-width: 768px) {
    #footer .footer-bottom {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    #footer .copyright,
    #footer .credits {
      text-align: center;
      float: none;
    }

    #footer .credits {
      padding-top: 4px;
    }
  }
</style>

<footer id="footer">
  <div class="footer-newsletter">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <h4>Join Our Newsletter</h4>
          <p>We have thousands of verified venues and vendors from all over Pakistan</p>
         
            <%= form_with model: @subscription, url: subscriptions_path, method: :post do |form| %>
                <%= form.email_field :email, class: 'form-control', placeholder: "Your Email Address", class: "subscription_field" %>
                <%= form.submit 'Subscribe', class: 'btn btn-primary' %>
            <% end %>

        </div>
      </div>
    </div>
  </div>

  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-contact">
        <a href="/" >
          <%= image_tag("bookarley-logo.png", alt: "Logo", width: 100) %>
          </a>
          <p class="mt-5">
            Ward No # 2, Jallo Morr <br>
            Batapur, 53480<br>
            Lahore Cantt. <br><br>
            <strong>Phone:</strong> +92 322 7197783<br>
            <strong>Email:</strong> info@bookarley.com<br>
          </p>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Feature</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">About Us</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Terms & Conditions</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Flash Sale</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Social Networks</h4>
          <p>Stay connected with us through our social media</p>
          <div class="social-links mt-3">
            <a href="https://twitter.com/bookarley" class="twitter" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.facebook.com/bookarley" class="facebook" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/bookarley" class="instagram" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/company/bookarley/" class="linkedin" target="_blank"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container footer-bottom d-flex justify-content-center clearfix">
    <div class="copyright">
      Copyright &copy; 2023 <strong><span>Bookarley</span></strong>. All Rights Reserved
    </div>
  </div>
</footer>